body {
    margin: 0;
}

.heading {
    height: 30vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(./img/sky.jpeg);
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h1 {
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0 0 5px;
}

.nav_list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: black;
}

li a {
    float: center;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;
    min-width: 60px;
}

li a:hover {
    background-color: #222222;
}

body {
    background-color: rgb(22, 22, 22);
}
section {
    color: white;
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
}

.content {
    border-top: 3px solid white;
    border-bottom: white;
}

::Marker {
    
    color: red;

}
.Marker li {
    padding: 10px;
}

.form-container {
    max-width: 500px;
    margin: 1rem auto;
}

.form-container h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.form-container h3 {
    color: white;
    text-align: center;
}


form {
    display: grid;
    margin: 1rem 0;
    width: 100%;
}

label, input {
    color: white;
    text-align: auto;
    display: grid;
    margin: 1rem;
    width: 100%;
}

#s {
    color: black;
}
